<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Simple Search Engine with Python</title>
</head>
<body>

    <div class="container">
        <h1><center>University of New Haven</center></h1>

        <h4>Search</h4>

        <form method="post" action="{{url_for('index')}}">
            <div class="row">
                <div class="col-xs-10">
                    <input type="text" class="form-control" name="keyword" placeholder="Search">
                </div>
                <div class="col-xs-2">
                    <input type="submit" class="btn btn-md btn-block btn-primary" value="Search">
                </div>
            </div>
        </form>

        <br>

        {% if keyword %}
        <h3>「{{keyword}}Search results...</h3>
        <ul>
            {% for url in query['url'] %}
            <li><a href="{{url}}">{{url}}</a></li>
            {% else %}
            <p>There was no page with that keyword.</p>
            {% endfor %}
        </ul>
        {% else %}
        <p>A Simple Search Engine using Python</p>
        {% endif %}
    </div><!-- container -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>